{% extends 'base.html' %}

{% block content %}
    <h1>Homepage</h1>
    <p><a href="{% url 'first_app:student_list' %}">List All Students</a></p>
    <p><a href="{% url 'first_app:student_create' %}">Add a new Student</a></p>
    <p><a href="{% url 'first_app:teacher_list' %}">List All Teachers</a></p>
    <p><a href="{% url 'first_app:teacher_create' %}">Add a new Teacher</a></p>
    <p><a href="{% url 'first_app:subject_list' %}">List All Subjects</a></p>
    <p><a href="{% url 'first_app:subject_create' %}">Add a new Subject</a></p>



{% endblock %}

